<form class="" action="/result" method="post">
  <h1>Choose your weapon!</h1>
  <input type="text" name="user_choice" value="enter choice here">
  <input type="submit" name="" value="Submit">
</form>
